@import "reset.scss";
@import "grid.scss";



@mixin button( $color){
    border: 1px solid $color;
    color: $color;
    border-radius: 11px;
    letter-spacing: 1px;
    font-size: 17px;
    background-color: transparent;
    margin-top: 55px;
}





.container{
    & .row{
        width: 100%;
    }
    & >div{
        width: 100%;
    }  
}
.header_img {
    background-image: url(/img/rectangle1.png);
    background-repeat: no-repeat;
    background-position: left top ;
    background-size: cover;
    
    }
.menu_block{
        height: auto;
        background-color: #f3f3f3;
    }
// mobile_menu
.nav_mobile_menu{
    display: block;
    width: 33px;
    height: 29px;
    position: relative;
    & span{
        height: 3px;
        background-color: #3a4245;
        position: absolute;
        left: 0;
        right: 0;
    }
    & span:nth-child(1){
        top: 3px;
    }
    & span:nth-child(2){
        top:13px;
    }
    & span:last-child{
        bottom:3px;
    }
    &:hover{
        cursor: pointer;
    }
}


.title{
    color: #262f32;
    text-align: left;
    letter-spacing: 1px;
    & span{
        font-weight: 700;
        display: block;
    }
}
.container .title__thin{
    font-weight: 300;
}


.section__text{
    
    letter-spacing: 1px;
    line-height: 28px;
    color: #262f32;
    margin-bottom: 40px;
}
.section__text:last-child{
    margin-bottom: 0;
}




// main

// .section__our_services{
//     // background-color: #1e92af;
    
//     background-size: cover;
// }
.section__our_services{
    background-color: #1e92afbe;
    position: relative;
    display: block;
}
.section__service{
        color: #fff;
        .section__servise_title{
            letter-spacing: 1px;
            font-weight: 300;
            span{
                font-weight: 900;
            }
            
        };
        p{
            letter-spacing: 0px;
        }
        
    }
    .section__img_bg{
                background-image: url(/img/rectangle1copy2.png);
                background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            }
    

    
    .light{
        color: rgb(0, 0, 0);
    }
    .section_blue>div{
        background-color: #fff4d2a1;
        position: relative;
        display: block;
        .section_blue_img_bg{
            background-image: url(/img/rectangle1copy2.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
        }

    }
    .section_blue>div:nth-child(2){
        background-color: #162633ad;
        .section_blue_img_bg{
            background-image: url(/img/layer21.png);
        }
    }
    .section__service button{
        @include button(#000)
    }
    .container .section__service .dark_btn{
        @include button(#fff)
    }
    













/* tablet */
@media(min-width:768px){

    %title-font-size-tablet{
        font-size: 34px;
        line-height: 38px;
    }

    .menu_block{
        padding: 26px;
    }
    .title{
        @extend %title-font-size-tablet;
    }
    .container .title{
        margin: 40px 0 24px 0;
    }
    .section__text{
        font-size: 16px;
    }
    main .row{
        flex-direction: column;
    }
    .section__services_block{
        padding: 40px 30px 30px 30px;
    }
    .section__service{
        margin-bottom: 30px;
        
        .section__servise_title{
            margin-bottom: 22px;
            @extend %title-font-size-tablet;
        };
        p{
            line-height: 24px;
            font-size: 12px;
        }
    }
    .section__service button{
        padding: 8px 30px 12px 30px;
    }

}









/* laptop */
@media(min-width:992px){

    %title-font-size-laptop{
        font-size: 40px;
        line-height: 58px;
    }

    .menu_block{
        padding: 55px;
    }
    .title{
        @extend %title-font-size-laptop;
    }
    .container .title{
        margin: 40px 0 35px 0;
    }
    .section__text{
        font-size: 18px;
    }
    main .row{
        flex-direction: row;
    }
    .section__services_block{
        padding: 40px 30px 30px 30px;
    }
    .section__service{
       
        .section__servise_title{
            @extend %title-font-size-laptop;
            margin-bottom: 34px;
            
        };
        p{
            line-height: 28px;
            font-size: 16px;
        }
    }
    .section__service button{
        padding: 10px 35px 15px 35px;
    }


}










/* desktop */
@media(min-width:1200px){

    .section__services_block{
         padding: 70px 55px 70px 55px;
    }
    .section__service button{
        padding: 15px 40px 20px 40px;
        @include button(#000)
    }

}










/* mobile */
@media(max-width:767px){
    %title-font-size-mobile{
        font-size: 28px;
        line-height: 36px;
    }
    %text-font-size-mobile{
        font-size: 11px;
    }

        .header .row{
            flex-direction: column-reverse;
        }

        .nav_mobile_menu{
            width: 15px;
            height: 15px;
        & span{
            height: 1px;
        }
        & span:nth-child(1){
            top: 3px;
        }
        & span:nth-child(2){
            top:7px;
        }
        & span:last-child{
            bottom:3px;
        }
    }
    .header_img{
        height: 400px;
    }

    .menu_block{
        padding: 26px;
    }
    .title{
        @extend %title-font-size-mobile;
    }
    .container .title{
        margin: 30px 0 30px 0;
    }
    .section__text{
        @extend %text-font-size-mobile;
        margin-bottom: 28px;
    }

    // main

    main .row{
        flex-direction: column;
    }
    .section__services_block{
        padding: 32px 26px 32px 26px;
    }
    .section__service{
        margin-bottom: 24px;
        
        
        .section__servise_title{
            @extend %title-font-size-mobile;
            margin-bottom: 14px;
        };
        p{
            @extend %text-font-size-mobile;
            line-height: 20px;
        }
    }

    .section__service button{
        padding: 10px 25px 10px 25px;
        @include button(#000)

    }
    


}